<div class="title-group">
    <h1 class="mat-h1">Add Category</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
</div>

<mat-card>
    <div class="controlers-wrapper">
        <mat-form-field appeance="fill">
            <input matInput (keyup)="applyFilterOne($event)" placeholder="Search">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
</mat-card>
<mat-card>
    <div class="controlers-wrapper">
        <mat-form-field appearance="fill">
            <mat-label>Villes </mat-label>
            <mat-select placeholder="ville" (selectionChange)="applyFilterOne1($event.value)">
                <mat-option *ngFor="let ville of villes" [value]="(ville.id).toString()">
                    {{ville.villeName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</mat-card>

<table mat-table matSort [dataSource]="dataSourceCommerce" #TableCommerceSort="matSort" class="mat-elevation-z8"
    style="width: 100%;">
  
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
  
    <!-- commerceName Column -->
    <ng-container matColumnDef="commerceName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>commerceName</th>
      <td mat-cell *matCellDef="let element">{{ element.commerceName }}</td>
    </ng-container>
  
    <!-- proprietaireName Column -->
    <ng-container matColumnDef="proprietaireName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>proprietaireName</th>
      <td mat-cell *matCellDef="let element">{{ element.proprietaireName }}</td>
    </ng-container>
  
    <!-- adresse Column -->
    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>adresse</th>
      <td mat-cell *matCellDef="let element">{{ element.adresse }}</td>
    </ng-container>
  
    <!-- telephone Column -->
    <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>telephone</th>
      <td mat-cell *matCellDef="let element">{{ element.telephone }}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumnsCommerce"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsCommerce" (click)="onRowClicked(row)"></tr>
  
  </table>

  <mat-paginator #TableCommercePaginator="matPaginator" [pageSize]="3" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>  


<!-- Form -->
<div class="inner-wrapper">
    <form [formGroup]="categoryForm" (ngSubmit)="submitCategoryForm()" #resetCategoryForm="ngForm" novalidate>
      <!-- Left block -->
      <mat-card>
        <div class="controlers-wrapper">
          <!-- Name -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Category name" formControlName="categoryName">
            <mat-error *ngIf="categoryForm.get('categoryName')?.errors?.['required']">
                            You must provide a<strong> category Name</strong>
                        </mat-error>
          </mat-form-field>
  
  
        </div>
      </mat-card>
      <mat-card>
        <div class="controlers-wrapper">
          <!-- commerce_id -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="commerce_id" formControlName="commerce_id">
            <mat-error *ngIf="categoryForm.get('commerce_id')?.errors?.['required']">
                            You must provide a<strong> commerce_id</strong>
                        </mat-error>
          </mat-form-field>
  
  
        </div>
      </mat-card>
  
      <!-- Submit & Reset -->
      <mat-card>
        <div class="full-wrapper button-wrapper">
          <div class="button-wrapper">
            <button mat-flat-button color="warn">Submit</button>
          </div>
        </div>
      </mat-card>
    </form>
  </div>