<div class="title-group">
    <h1 class="mat-h1">Edit Product</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
</div>
<div class="inner-wrapper">
    <form [formGroup]="productForm" (ngSubmit)="updateProductForm()" #resetProductForm="ngForm" novalidate>
        <mat-grid-list cols="2" rowHeight="8:1">
            <mat-grid-tile>
                <div class="text-inside-grid">
                    <!-- name -->
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="name" formControlName="name">
                        <mat-error *ngIf="productForm.get('name')?.errors?.['required']">
                            You must provide a<strong> name</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="text-inside-grid">
                    <!-- sku -->
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="sku" formControlName="sku">
                        <mat-error *ngIf="productForm.get('sku')?.errors?.['required']">
                            You must provide a<strong> sku</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="text-inside-grid">
                    <!-- description -->
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="description" formControlName="description">
                        <mat-error *ngIf="productForm.get('description')?.errors?.['required']">
                            You must provide a<strong> description</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="text-inside-grid">
                    <!-- unitPrice -->
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="unitPrice" formControlName="unitPrice">
                        <mat-error *ngIf="productForm.get('unitPrice')?.errors?.['required']">
                            You must provide a<strong> unitPrice</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="text-inside-grid">
                    <!-- imageUrl -->
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="imageUrl" formControlName="imageUrl">
                        <mat-error *ngIf="productForm.get('imageUrl')?.errors?.['required']">
                            You must provide a<strong> imageUrl</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="text-inside-grid">
                    <!-- active -->
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="active" formControlName="active">
                        <mat-error *ngIf="productForm.get('active')?.errors?.['required']">
                            You must provide a<strong> active</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="text-inside-grid">
                    <!-- unitsInStock -->
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="unitsInStock" formControlName="unitsInStock">
                        <mat-error *ngIf="productForm.get('unitsInStock')?.errors?.['required']">
                            You must provide a<strong> unitsInStock</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="text-inside-grid">
                    <!-- dateCreated -->
                    <mat-form-field>
                        <input matInput readonly [matDatepicker]="dateCreated" placeholder="Date Created"
                            formControlName="dateCreated">
                        <mat-datepicker-toggle matSuffix [for]="dateCreated"></mat-datepicker-toggle>
                        <mat-datepicker #dateCreated></mat-datepicker>
                        <!-- error -->
                        <mat-error *ngIf="productForm.get('dateCreated')?.errors?.['required']">
                            You must provide a<strong> dateCreated</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="text-inside-grid">
                    <!-- lastUpdate -->
                    <mat-form-field>
                        <input matInput readonly [matDatepicker]="lastUpdate" placeholder="Last Update"
                            formControlName="lastUpdate">
                        <mat-datepicker-toggle matSuffix [for]="lastUpdate"></mat-datepicker-toggle>
                        <mat-datepicker #lastUpdate></mat-datepicker>
                        <!-- error -->
                        <mat-error *ngIf="productForm.get('lastUpdate')?.errors?.['required']">
                            You must provide a<strong> lastUpdate</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="text-inside-grid">
                    <!-- Submit & Reset -->
                    <div class="full-wrapper button-wrapper">
                        <div class="button-wrapper">
                            <button mat-flat-button color="warn">Update</button>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        
    </form>
</div>